@import '../../variables.scss';
@import '../../mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

.contact-popup {
  z-index: 999;
  background: white;
  width: 400px;
  height: 600px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  font-family: 'Nanum Gothic';

  @media (max-width: 450px) {
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    right: 0px;
    bottom: 0px;
    justify-content: flex-start;
    padding: 5rem;
  }

  .contact-form-title {
    font-size: 3.5rem;
    color: $gray1;
    margin-bottom: 2rem;
  }

  .contact-form-subtitle {
    font-size: 1.75rem;
    color: $gray2;
    margin-bottom: 2rem;
  }

  .contact-form-res {
    font-size: $p;
    width: 100%;
    background: rgba($success, 0.5);
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .contact-form-err {
    font-size: $p;
    width: 100%;
    background: rgba($danger, 0.5);
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .contact-form-fields-container {
    display: flex;
    flex-direction: column;

    .form-label-container {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;

      .contact-form-label {
        color: $gray2;
        font-size: 1.3rem;
        margin-right: 1rem;
      }

      p {
        color: $danger;
        font-size: 1.2rem;
      }
    }

    .contact-form-field {
      margin-bottom: 2rem;
      padding: 1rem;
      border: 1px solid darken($gray4, 20%);
      outline: 0;
      border-radius: 4px;
      font-size: 1.3rem;

      &::placeholder {
        color: lighten($gray2, 25%);
      }
    }

    .contact-form-message {
      font-size: 1.3rem;
      resize: none;
      margin-bottom: 2rem;
      padding: 1rem;
      height: 100px;
      border: 1px solid darken($gray4, 20%);
      outline: 0;
      border-radius: 4px;

      &::placeholder {
        color: lighten($gray2, 25%);
      }
    }

    .contact-form-button {
      border: 0;
      outline: 0;
      background: $primary;
      color: white;
      width: 100%;
      text-align: center;
      font-size: $p;
      padding: 1rem;
      cursor: pointer;
      @include hover;
      border-radius: 4px;

      &:hover {
        background: $primary-hover;
      }
    }
  }
}

.contact-popup-button {
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: $primary;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact-close {
    color: white;
  }
}
