@import '../../../variables.scss';
@import '../../../mixins.scss';

.tags-modal-head-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.23rem;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-bottom: 1.2rem;

  .tags-modal-head-tabs {
    display: flex;
    width: 66%;
    justify-content: space-between;

    .tags-modal-tab-active {
      color: $gray1;
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      background: $gray3;
    }

    .tags-modal-tab-not-active {
      color: $gray2;
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 4px;
    }
  }

  .tags-modal-head-exit {
    font-size: $p;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.75rem;
    @include hover;

    &:hover {
      background: $gray3;
    }
  }
}
