@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

.button {
  @include option;
}

.dropdown {
  padding: 1rem;
  width: 250px;
  max-height: 250px;
  overflow: auto;
}
