.err {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.button {
  width: 100%;
  padding: 1rem;
}

.res {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}
