@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.day {
  height: 10.25rem;
  @include monthBorders;
  padding: 0.25rem;
  color: $gray2;
  font-size: 1.3rem;

  .head {
    color: $gray2;
    width: 100%;
    font-size: 1.3rem;

    @include medium {
      font-size: 1.1rem;
    }

    .add {
      cursor: pointer;
      margin-left: auto;
      padding: 0.33rem;
      color: $primary;
      @include textHover;

      &:hover {
        color: darken($primary, 15%);
      }
    }
  }

  .date {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;

    @include medium {
      width: 20px;
      height: 20px;
      font-size: 1.1rem;
    }
  }

  .todayDate {
    @extend .date;
    color: white;
    background: $primary;
    border: 1px solid $primary;
    position: relative;
    align-self: center;
  }

  .workout {
    margin-top: 0.75rem;
    width: 100%;
    border-radius: 8px;
    color: white;
    background: $danger;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
