@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

.save {
  @include option;
  background: $success;
  color: white;

  &:hover {
    background: darken($success, 5%);
  }
}
