@import '../../variables.scss';
@import '../../mixins.scss';

.spotter-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include small {
    align-items: center;
  }

  .spotter-nav-head {
    display: flex;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  .spotter-nav-links {
    display: flex;
    @include small {
      flex-direction: column;
      font-weight: bold;
      justify-content: space-between;
      position: relative;
      top: 5px;
      height: auto;
    }

    .spotter-nav-link {
      font-size: $p;
      height: auto;
      padding: 1rem 2rem;
      text-decoration: none;
      border-radius: $border;
      @include textHover;

      @include medium {
        font-size: 1.3rem;
        padding: 0.85rem 1.7rem;
      }

      @include small {
        margin-bottom: 2.5rem;
        padding: 0;
        width: auto;
        font-size: $p;
      }
    }

    .spotter-nav-link:nth-child(-n + 3) {
      margin-right: 3rem;
      color: $gray2;
      @include textHover;
      @include medium {
        margin-right: 2rem;
      }

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }

    .spotter-nav-link.dashboard {
      color: $gray2;

      @include small {
        border: none;
        color: $gray2;
        background: none;

        &:hover {
          color: $primary;
          background: none;
          border: none;
        }
      }
    }

    .spotter-nav-link.styled {
      background: $primary;
      color: white;
      border: 1px solid $primary;
      margin-right: 0;
      box-shadow: $subtle;
      @include hover;
      cursor: pointer;

      &:hover {
        background: darken($primary, 10%);
        color: white;
      }

      @include small {
        border: none;
        color: $gray2;
        background: none;
        margin-right: 2rem;
        margin-bottom: 0;
        box-shadow: none;
        @include hover;

        &:hover {
          color: $primary;
          background: none;
          transform: translateY(0);
          box-shadow: none;
        }
      }
    }
  }
}

.spotter-nav-head-logo {
  font-size: 3.2rem;
  font-weight: bold;
  color: $gray1;
  text-decoration: none;
  overflow: none;
  @include medium {
    font-size: 2.5rem;
  }

  .spot {
    font-size: 5rem;
    color: $primary;

    @include medium {
      font-size: 4rem;
    }
  }
}
