@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');
@import '../../variables.scss';
@import '../../mixins.scss';

.bottomcta-container {
  padding: 20rem 0rem;
  background: #f6f8f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nanum Gothic';

  @include large {
    padding: 15rem 2.5rem;
  }

  @include medium {
    padding: 10rem 2.5rem;
  }

  .bottomcta-title {
    color: $gray1;
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;

    @include medium {
      font-size: 3rem;
    }
  }

  .bottomcta-cta {
    font-family: 'Roboto';
    color: white;
    font-size: 1.75rem;
    background: $primary;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    padding: 1.5rem 3.5rem;
    text-align: center;
    text-decoration: none;
    box-shadow: $subtle;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;

    @include medium {
      font-size: $p;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
    }
  }
}
