@import '../../variables.scss';
@import '../../mixins.scss';

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

.home-hero-container {
  padding: 22.5rem;
  flex-direction: column;
  text-align: center;
  @include flex-center;
  background-image: linear-gradient(0deg, #f6f8f9 3%, #fff);

  @include large {
    padding: 15rem 2.5rem;
  }

  .home-hero-main-text {
    line-height: 1.25;
    font-size: 5rem;
    color: $gray1;
    font-family: 'Nanum Gothic';
    @include medium {
      font-size: 3.5rem;
    }

    .home-hero-main-point {
      font-weight: bold;
      color: $primary;
      padding-top: 1.5rem;
    }

    .home-hero-sub-text-highlight {
      color: $primary;
    }
  }

  .home-hero-sub {
    padding-top: 4rem;
    padding-bottom: 2rem;
    @include medium {
      padding-top: 2rem;
      padding-bottom: 1rem;
    }

    .home-hero-sub-text {
      line-height: 1.5;
      font-size: 2rem;
      color: darken($gray2, 10%);
      font-family: 'Nanum Gothic';

      @include small {
        font-size: $p;
      }

      .alt {
        color: $primary;
      }
    }
  }

  .home-hero-reg {
    font-family: 'Roboto';
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1.5rem 3.5rem;
    background-color: $primary;
    color: white;
    border-radius: $border;
    text-decoration: none;
    box-shadow: $subtle;
    transition: transform 150ms, box-shadow 150ms;
    cursor: pointer;

    @include small {
      font-size: $p;
      margin-top: 1rem;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .home-hero-alt-signin {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    @include small {
      font-size: 1.1rem;
    }

    .home-hero-alt-signin-link {
      color: $info;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
