@import './substyles/misc/global.scss';
@import './substyles/layout/nav.scss';
@import './substyles/layout/footer.scss';
@import './substyles/home/home-hero.scss';
@import './substyles/home/imagetext.scss';
@import './substyles/home/features.scss';
@import './substyles/home/bottomcta.scss';
@import './substyles/home/textblocks.scss';
@import './substyles/dash/subnav.scss';
@import './substyles/dash/workouts.scss';
@import './substyles/dash/workout.scss';
@import './substyles//dash/exercises.scss';
@import './substyles/misc/notfound.scss';
// add workout modal styling
@import './substyles/dash/workoutmodal/index.scss';
// tags modal styling
@import './substyles/dash/tagsmodal/index.scss';
@import './substyles/dash/savetemplate.scss';
@import './substyles/dash/fromtemplate.scss';
@import './substyles/settings//settings.scss';
@import './substyles/prs/Prs.scss';
