@import './variables.scss';

@mixin icon {
  border: 0;
  outline: 0;
  background: transparent;
}

@mixin settingsAction {
  margin-top: 0.5rem;
  padding: 1.5rem;
  font-size: 1.3rem;
  color: $gray1;
  cursor: pointer;
  text-decoration: underline;
  border-radius: 4px;
  @include hover;

  &:hover {
    background: $gray3;
  }
}

@mixin btn {
  outline: 0;
  border: 0;
  margin-top: 1rem;
  font-family: 'Roboto';
  text-align: center;
  color: white;
  background: $primary;
  padding: 1.5rem 3.5rem;
  font-size: 1.3rem;
  border-radius: 4px;
  box-shadow: $subtle;
  @include hover;
  cursor: pointer;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin spacer {
  margin: 0rem 10rem;

  @include xLarge {
    margin: 0rem 7.5rem;
  }

  @include large {
    margin: 0rem 5rem;
  }

  @include medium {
    margin: 0rem 2.5rem;
  }
}

@mixin modalContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin modalHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@mixin modalTitle {
  font-size: 1.3rem;
  color: $gray2;
}

@mixin modalExit {
  font-size: $p;
  border-radius: 50%;
  padding: 0.5rem;

  &:hover {
    background: $gray3;
    cursor: pointer;
  }
}

@mixin templateButton {
  width: 100%;
  padding: 1rem 2rem;
  background: $info;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  outline: 0;
  border: 0;

  &:hover {
    background: darken($info, 10%);
  }
}

@mixin monthBorders {
  &:nth-child(1) {
    border: $calendar-border;
  }
  &:nth-child(8),
  &:nth-child(15),
  &:nth-child(22),
  &:nth-child(14),
  &:nth-child(21),
  &:nth-child(28) {
    border-left: $calendar-border;
    border-bottom: $calendar-border;
    border-right: $calendar-border;
  }
  &:nth-child(7) {
    border: $calendar-border;
  }
  &:nth-child(n + 2):nth-child(-n + 6) {
    border-top: $calendar-border;
    border-bottom: $calendar-border;
  }
  &:nth-child(n + 2):nth-child(-n + 5) {
    border-right: $calendar-border;
  }
  &:nth-child(n + 9):nth-child(-n + 13) {
    border-bottom: $calendar-border;
  }
  &:nth-child(n + 9):nth-child(-n + 12) {
    border-right: $calendar-border;
  }
  &:nth-child(n + 16):nth-child(-n + 20) {
    border-bottom: $calendar-border;
  }
  &:nth-child(n + 16):nth-child(-n + 19) {
    border-right: $calendar-border;
  }
  &:nth-child(n + 23):nth-child(-n + 27) {
    border-bottom: $calendar-border;
  }
  &:nth-child(n + 23):nth-child(-n + 26) {
    border-right: $calendar-border;
  }
  &:nth-child(n + 29) {
    border-bottom: $calendar-border;
    border-left: $calendar-border;
  }
  &:last-child {
    border-right: $calendar-border;
  }
}

@mixin popoverHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: $gray2;
}

@mixin closePopover {
  color: $gray1;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 100%;

  &:hover {
    background: $gray3;
  }
}

@mixin hover {
  -webkit-transition: background-color 0.15s, color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s, color 0.15s ease-in-out;
  -o-transition: background-color 0.15s, color 0.15s ease-in-out;
  transition: background-color 0.15s, color 0.15s ease-in-out;
}

@mixin textHover {
  -webkit-transition: color 0.15s, color 0.15s ease-in-out;
  -moz-transition: color 0.15s, color 0.15s ease-in-out;
  -o-transition: color 0.15s, color 0.15s ease-in-out;
  transition: color 0.15s, color 0.15s ease-in-out;
}

@mixin xLarge {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin large {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 500px) {
    @content;
  }
}
