@import '../../styles/mixins.scss';

.container {
  @include spacer;
  padding-top: 1rem;

  .logo {
    font-size: 3.2rem;
    font-weight: bold;
    color: $gray1;
    text-decoration: none;

    @include medium {
      font-size: 2.5rem;
    }
  }

  .mobile {
    cursor: pointer;
  }
}

.top {
  position: fixed;
  width: 100%;
}

.scrolling {
  @extend .top;
  padding-bottom: 2rem;
  box-shadow: 0 2px 12px 0 rgba(36, 50, 66, 0.075);
  background: white;
  transition: box-shadow 0.3s ease-in-out;
}
