@import '../../variables.scss';
@import '../../mixins.scss';

.workout-card-container {
  margin: 0 1rem;
  margin-bottom: 1rem;
  border-radius: $border;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: $box;
  @include hover;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @include large {
    padding: 1rem;
    margin: 0rem 0.5rem;
  }

  @include medium {
    padding: 0.75rem;
  }

  @include small {
    margin: 0rem 0.33rem;
  }

  &:hover {
    background: $gray3;
    cursor: pointer;
  }
}
