@import '../../variables.scss';
@import '../../mixins.scss';

.prs-container {
  width: 80rem;
  margin: 5rem auto;

  @include large {
    width: 50rem;
  }

  @include small {
    width: 32rem;
  }

  .pr-section {
    font-size: 1.9rem;
    color: $gray1;

    @include medium {
      font-size: 1.5rem;
    }

    .pr-title {
      padding-bottom: 1rem;
      border-bottom: 2px solid $gray4;
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .pr-spacer {
        width: auto;
        cursor: pointer;
        display: flex;

        .pr-dropdown {
          color: $gray2;
        }
        .hover-pr-dropdown {
          color: $gray1;
          @include hover;
        }
      }

      .pr-info {
        color: $gray2;
        cursor: pointer;
      }
    }
    .open {
      border: none;
    }

    .pr-section-box {
      border: 1px solid $gray4;
      border-radius: 4px;
      padding: 1rem;
      box-shadow: $box;

      .no-prs {
        text-align: center;
        font-size: 1.5rem;
        color: $danger;

        @include medium {
          font-size: 1.3rem;
        }
      }

      .pr {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;

        @include medium {
          font-size: 1.3rem;
        }

        .pr-circle {
          margin-right: 1rem;
          font-size: 0.8rem;
        }

        .lastMonth {
          color: $success;
        }

        .lastYear {
          color: $info;
        }

        .allTime {
          color: $danger;
        }

        .pr-date {
          color: $gray2;
          margin-right: 2rem;
        }
      }

      .pr:not(:last-child) {
        padding-bottom: 2rem;
      }
    }
  }
}
