@import '../../variables.scss';
@import '../../mixins.scss';

.settings-container {
  .settings-section {
    margin: 5rem auto;

    .settings-head {
      border-bottom: 1px solid $gray4;
      padding-bottom: 1rem;
      color: $gray1;
      font-size: $p;
    }

    .settings-action {
      margin-top: 0.5rem;
      padding: 1.5rem;
      font-size: 1.3rem;
      color: $gray1;
      cursor: pointer;
      text-decoration: underline;
      border-radius: 4px;
      @include hover;

      &:hover {
        background: $gray3;
      }
    }

    .exports-container {
      padding-top: 1.5rem;
      font-size: 1.3rem;
      color: $gray2;
      line-height: 1.5;
    }

    .del-account-container {
      padding: 1.5rem;
      font-size: 1.3rem;
      color: $gray2;
      line-height: 1.5;

      #del-account-danger {
        color: $danger;
        font-weight: bold;
        font-style: italic;
        font-size: 1.5rem;
      }

      .delete-account {
        background: $danger;
        padding: 1rem;
        color: white;
        width: auto;
        border-radius: 4px;
        margin-top: 2rem;
        cursor: pointer;
        @include hover;

        &:hover {
          background: darken($primary, 15%);
        }
      }

      .delete-account-disabled {
        background: rgba($danger, 0.7);
        padding: 1rem;
        color: white;
        width: auto;
        border-radius: 4px;
        margin-top: 2rem;
        cursor: not-allowed;

        @include medium {
          font-size: 1.2rem;
          padding: 0.75rem;
        }
      }

      .confirm-close {
        display: flex;
        align-items: center;
        margin-top: 2rem;

        .confirm-check {
          margin-right: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

.change-popup {
  background: white;
  width: 275px;
  height: 250px;
  box-shadow: $box;
  padding: 1rem;

  .change-container {
    height: 100%;

    .popover-head {
      @include popoverHead;
      justify-content: flex-end;
      font-size: 1.5rem;
      margin-bottom: 0;

      .close-popover {
        @include closePopover;
        @include hover;
      }
    }

    .change-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .change-inp {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .change-label {
          color: $gray2;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }

        .inp-component {
          padding: 0.75rem;
          border: 1px solid $gray4;
          border-radius: 4px;
          outline: 0;
          @include hover;

          &:hover {
            background: $gray3;
          }

          &:focus {
            border: 1px solid $primary;
          }
        }
      }

      .change-button {
        color: white;
        background: $primary;
        border-radius: 4px;
        font-size: 1.3rem;
        padding: 0.33rem 1rem;
        cursor: pointer;
        border: 0;
        outline: 0;
        @include hover;

        &:hover {
          background: $primary-hover;
        }
      }

      .change-err {
        margin-right: 2rem;
        color: $danger;
        font-size: 1.3rem;
      }

      .change-succ {
        margin-right: 2rem;
        color: $success;
        font-size: 1.3rem;
      }
    }
  }
}
