@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.button {
  outline: 0;
  border: 0;
  margin-top: 1rem;
  font-family: 'Roboto';
  text-align: center;
  color: white;
  background: $primary;
  padding: 1.25rem 3.75rem;
  font-size: 1.3rem;
  border-radius: 4px;
  box-shadow: $subtle;
  @include hover;
  cursor: pointer;

  @include medium {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
  }

  &:hover {
    background: darken($primary, 10%);
  }
}
