.dropdown {
  height: auto;
  background: white;
  z-index: 10;
  border-radius: 4px;
  width: auto;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 25px;
  top: 40px;
  overflow: hidden;
  min-width: 100px;
}
