/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import '../../variables.scss';
@import '../../mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto';
  position: relative;
  min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// reset ends here

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  margin: 0rem 10rem;

  @include xLarge {
    margin: 0rem 7.5rem;
  }

  @include large {
    margin: 0rem 5rem;
  }

  @include medium {
    margin: 0rem 2.5rem;
  }
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 5000;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

// react auto-suggest stock styles
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100px;
  border: 1px solid $gray4;
  background-color: #fff;
  font-size: 1.2rem;
  z-index: 2;
  border-radius: 4px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 1.5rem 0 1.5rem 0.5rem;
  word-wrap: break-word;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $gray4;
}
