@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.action {
  @include settingsAction;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
