@import '../../styles/mixins.scss';

.container {
  padding-top: 1.5rem;
  font-size: 1.3rem;
  color: $gray2;
  line-height: 1.5;

  .desc {
    padding: 0rem 0rem 1rem 1.5rem;
  }

  .action {
    @include settingsAction;
  }
}
