@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.title {
  font-size: 1.3rem;
  color: $gray1;
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  @include medium {
    font-size: 1.2rem;
  }

  @include small {
    font-size: 1.1rem;
  }
}

.hasContent {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: $gray1;

  @include medium {
    font-size: 1.2rem;
  }
}

.container {
  margin-top: 2rem;

  .tag {
    min-height: 15px;
    margin-right: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.25rem 1.25rem;
    border-radius: 8px;
    color: $gray3;

    @include medium {
      padding: 0.25rem 0.75rem;
      font-size: 0.6rem;
      min-height: 0;
    }

    @include small {
      padding: 0.25rem 0.5rem;
    }
  }
}
