@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');
@import '../../mixins.scss';

.forgot-password-container {
  margin: 10rem auto;
  font-family: 'Nanum Gothic';
  box-shadow: $box;
  padding: 6rem 12rem;

  @include large {
    padding: 4rem 4rem;
  }

  @include medium {
    padding: 2rem 2rem;
    width: 45rem;
  }

  @include small {
    padding: 3rem 1.75rem;
    width: 32rem;
  }

  .forgot-password-title {
    font-size: 3rem;
    color: $gray1;
    margin-bottom: 4rem;
    text-align: center;

    @include medium {
      font-size: 2.5rem;
    }

    @include small {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  .forgot-password-res {
    padding: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;

    @include small {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }

  .err {
    background: rgba($danger, 0.5);
  }

  .succ {
    background: rgba($success, 0.5);
  }

  .forgot-password-label {
    color: $gray2;
    font-size: 1.3rem;

    @include medium {
      font-size: 1.2rem;
    }
  }

  .forgot-password-input {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 1.3rem;
    width: 100%;
    outline: 0;
    border: 1px solid darken($gray4, 20%);
    border-radius: 4px;

    @include medium {
      padding: 0.75rem;
      font-size: 1.2rem;
    }

    @include small {
      margin-bottom: 2rem;
    }

    &:focus {
      border: 1px solid $primary;
    }
  }

  .forgot-password-submit {
    margin-top: 1rem;
    font-family: 'Roboto';
    text-align: center;
    width: 150px;
    color: white;
    background: $primary;
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    border-radius: 4px;
    box-shadow: $subtle;
    @include hover;
    cursor: pointer;

    @include medium {
      font-size: 1.2rem;
    }

    &:hover {
      background: darken($primary, 10%);
    }
  }
}
